In [1]:
# Modules needed
import pandas as pd
import numpy as np


import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, func, inspect, and_


import os
import glob
import datetime
import calendar

In [2]:
# import variables from config file
from credentials import host
from credentials import pwd
from credentials import usr
from credentials import dialect
from credentials import port
from credentials import db

In [3]:
connection = f'{dialect}://{usr}:{pwd}@{host}:{port}/{db}'
print(connection)
engine = create_engine(connection)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
# display tables/classes
display(Base.classes.keys())

# Save references to each table
Member = Base.classes.Member
Club = Base.classes.Club
Role = Base.classes.Role
Role_Type = Base.classes.Role_Type
Session2 = Base.classes.Session
Session_Type = Base.classes.Session_Type

postgresql+psycopg2://postgres:admin@localhost:5432/biam

['Club', 'Member', 'Role_Type', 'Role', 'Session', 'Session_Type']

In [4]:
# Start session
Session = sessionmaker()
Session.configure(bind=engine)
session = Session()

In [5]:
# Read Tables to determine what task to perform in each
member_data = pd.read_sql_table("Member",engine)
club_data = pd.read_sql_table("Club",engine)
role_data = pd.read_sql_table("Role",engine)
role_type_data = pd.read_sql_table("Role_Type",engine)
session_data = pd.read_sql_table("Session",engine)
session_type_data = pd.read_sql_table("Session_Type",engine)
engine.dispose()

In [9]:
year = 2020
month = 6
rs = engine.execute(f'Select m.member_id, m.member_desc, rt.role_type_desc, count(*) as NoParticipations FROM public."Session" s JOIN public."Member" m On m.member_id = s.member_id JOIN public."Role" r On s.role_id = r.role_id JOIN public."Role_Type" rt On r.role_type_id = rt.role_type_id where extract(year from (session_dt)) = {year} group by m.member_id, m.member_desc, rt.role_type_desc order by m.member_id, count(*) desc ')
dicts = []
for row in rs:
    d = {}
    d['member_id'] = row[0]
    d['member_desc'] = row[1]
    d['role_type_desc'] = row[2]
    d['NoParticipations'] = row[3]
    dicts.append(d)
results = pd.DataFrame(dicts)
results = results.pivot_table(values='NoParticipations',index=[results.member_desc],columns='role_type_desc',aggfunc='sum', dropna=True)
results.loc[:,'Total'] = results.sum(axis=1)
results.reset_index(inplace=True)
results.rename(columns={'role_type_desc':'Rol'}, inplace=True)
results.rename(columns={'member_desc':'Socios'}, inplace=True)
print(results)

role_type_desc                            Socios  Comunicador  \
0               Abraham López (Nueva Generación)          NaN
1                              Adriana Hernández          4.0
2                                   Adrián Rocha          1.0
3                           Anthony Hogan (METC)          NaN
4                                   Arturo Aubry          1.0
..                                           ...          ...
61                                    Rubén Cuén          1.0
62                                     Sara Rico          NaN
63                                     Saúl Peña          6.0
64                                     Sol Solís          1.0
65                                  Table topics          NaN

role_type_desc  Equipo Evaluación  Liderazgo  Total
0                             2.0        NaN    2.0
1                             4.0        3.0   11.0
2                             1.0        NaN    2.0
3                             1.0        NaN    1.0
4                             NaN        NaN    1.0
..                            ...        ...    ...
61                            1.0        NaN    2.0
62                            2.0        NaN    2.0
63                            2.0        3.0   11.0
64                            NaN        NaN    1.0
65                            NaN        1.0    1.0

[66 rows x 5 columns]

In [ ]:


num_days = calendar.monthrange(year, month)[1]
print(num_days)
start_date = datetime.date(year, month, 1)
end_date = datetime.date(year, month, num_days)

In [ ]:

print(start_date)
print(end_date)
result = session.query(Member.member_desc, Role.role_desc, func.count(Session2.session_dt).label('NoParticipations')).join(Member,Session2.member_id==Member.member_id).join(Role, Session2.role_id == Role.role_id).filter(and_(Session2.session_dt >= start_date, Session2.session_dt <= end_date )).group_by(Member.member_desc,Role.role_desc).all()
dicts = []

print(len(result))
for row in result:
    d = {}
    d['member_desc'] = row.member_desc
    d['role_desc'] = row.role_desc
    d['NoParticipations'] = row.NoParticipations
    dicts.append(d)

results = pd.DataFrame(dicts)
#results = results.loc[(results['member_desc'] == 'Paolo Vega') | (results['member_desc'] == 'Adriana Hernández') | (results['member_desc'] == 'Rocío Sánchez'),:]
print(results)

In [ ]:
print(results.pivot_table(values='NoParticipations',index=[results.member_desc],columns='role_desc',aggfunc='sum', dropna=True).tail())

In [ ]:
# Insert data for ==== CLUB =====
try:
    print(len(pd.read_sql_table("Club",engine)))
    # First record to insert
    if len(pd.read_sql_table("Club",engine)) == 0:
        club = Club(club_desc="BIAM",isActive=True)
        session.add(club)
        session.commit()
        print("Rows successfully inserted!")
    else:
        # Insert/update records from file
        print('Records already!')
except:
    print("Error inserting into DB. Read log for more information")

In [ ]:
# Insert data for ==== ROLE TYPE =====
try:
    print(len(pd.read_sql_table("Role_Type",engine)))
    # First record to insert
    if len(pd.read_sql_table("Role_Type",engine)) == 0:
        role_type_1 = Role_Type(role_type_desc='Equipo Evaluación')
        session.add(role_type_1)
        role_type_2 = Role_Type(role_type_desc='Comunicador')
        session.add(role_type_2)
        role_type_3 = Role_Type(role_type_desc='Liderazgo')
        session.add(role_type_3)
        session.commit()
        print("Rows successfully inserted!")
    else:
        # Insert/update records from file
        print('Records already!')
except:
    print("Error inserting into DB. Read log for more information")

In [ ]:
# Insert data for ==== ROLE =====
file_loc = "Datasource/Proyectos BIAM.xlsx"
df = pd.read_excel(file_loc, sheet_name="Jun 2020")
try:
    role_data = len(pd.read_sql_table("Role",engine))
    if(role_data == 0):
        # Remove white spaces and numbers for participations
        roles = df['Unnamed: 0'].str.replace('\d+', '').str.strip(' \n\t')
        roles = roles.str.replace('Evaluador Discurso','Evaluador')
        roles = roles.drop_duplicates()
        roles = roles.loc[2:,]
        print(roles)

        roles = pd.DataFrame({'role_desc':roles})
        # Evaluators
        roles['role_type_id'] = 1
        roles['isActive'] = True
        # Leadership
        roles.loc[(roles['role_desc'] == 'Toastmaster de Sesión') | (roles['role_desc'] == 'Discursos Improvisados'),['role_type_id']] = 3
        # Communicator
        roles.loc[(roles['role_desc'] == 'Discurso') | (roles['role_desc'] == '¿Qué es Toastmasters?'), ['role_type_id']] = 2
        print(roles)

        roles.to_sql('Role',con=engine,index=False,if_exists='replace',chunksize=len(roles))
    else:
        print('In development (adding/updating existing records)...')
except:
    print("Error inserting into DB. Read log for more information")

In [33]:
# Insert data for ==== MEMBER =====
file_loc = "Datasource/Proyectos BIAM.xlsx"
df = pd.read_excel(file_loc, sheet_name="Julio 2020")
# Remove white spaces and numbers for participations
members = []
# Read all assistants
for i in range(1,len(df.columns)):
    temp = df.iloc[2:,[i]]
    header = df.columns[i]
    print('Header: ',header)
    temp.rename(columns={header:'member_desc'},inplace=True)
    temp.dropna(inplace=True)
    temp.drop_duplicates(inplace=True)
    members.append(temp)
# Combine data and remove duplicates
#print(type(members))
combined_df = pd.concat(members, ignore_index=True)
combined_df['member_desc'] = combined_df['member_desc'].str.strip()
#print(combined_df['member_desc'].values)
combined_df.drop_duplicates(inplace=True)
combined_df.reset_index(drop=True,inplace=True)
combined_df = combined_df.dropna(axis=0, subset=['member_desc'])
#print(combined_df.head())
combined_df['isActive'] = True
combined_df['start_dt'] = '2020-01-01'
combined_df['club_id'] = 10
combined_df['isGuest'] = False
print(f'member records: {len(pd.read_sql_table("Member",engine))}')
member_data = len(pd.read_sql_table("Member",engine))
if(member_data == 0):
    combined_df.to_sql('Member',con=engine,index=False,if_exists='append',chunksize=len(combined_df))
    print('Data inserted successfully!')
else:
    member = pd.read_sql_table("Member",engine)
    member_look_up = member.loc[:,["member_id","member_desc"]].set_index("member_desc")
    combined_df = combined_df.merge(member_look_up, how="left", on="member_desc")
    combined_df = combined_df[combined_df['member_id'].isnull()]
    combined_df = combined_df.loc[:,["member_desc","isActive","start_dt","club_id","isGuest"]]
    print(combined_df.columns)
    # insert only new members
    if(len(combined_df) > 0):
        combined_df.to_sql('Member',con=engine,index=False,if_exists='append',chunksize=len(combined_df))
        print('New Members inserted successfully!')
    else:
        print('No new members found.')
#print("Error inserting into DB (Members). Read log for more information")

Header:  2020-07-07 00:00:00
Header:  2020-07-14 00:00:00
Header:  2020-07-21 00:00:00
Header:  2020-07-28 00:00:00
member records: 60
Index(['member_desc', 'isActive', 'start_dt', 'club_id', 'isGuest'], dtype='object')
New Members inserted successfully!

In [34]:
# Read all assistants
# Insert data for ==== SESSION =====
file_loc = "Datasource/Proyectos BIAM.xlsx"
df = pd.read_excel(file_loc, sheet_name="Julio 2020")
sessions = []



for c in df.iloc[[0],:].columns[1:]: 
    temp = df.loc[:,[c]]
    temp['session_dt'] = c 
    temp['role_desc'] = df.iloc[:,[0]] 
    temp['session_type_id'] = 1
    temp['isWinner'] = False
    temp.rename(columns={c:'member_desc'},inplace=True)
    temp.dropna(inplace=True)
    temp['role_desc'] = temp['role_desc'].str.replace('\d+', '').str.strip(' \n\t')
    temp['role_desc'] = temp['role_desc'].str.replace('Evaluador Discurso','Evaluador')
    #print(temp['member_desc'].head())
    temp['member_desc'] = temp['member_desc'].astype(str).str.strip()
    sessions.append(temp)

In [35]:
sessions_result = pd.concat(sessions,axis=0, ignore_index=True)
print(sessions_result.columns)

Index(['member_desc', 'session_dt', 'role_desc', 'session_type_id',
       'isWinner'],
      dtype='object')

In [36]:


member = pd.read_sql_table("Member",engine)
member_look_up = member.loc[:,["member_id","member_desc"]].set_index("member_desc")


sessions_result = sessions_result.merge(member_look_up, how="left", on="member_desc")
print(sessions_result.columns)
#sessions_result = sessions_result.loc[:,["session_dt","member_id","role_id","session_type_id","isWinner"]]

Index(['member_desc', 'session_dt', 'role_desc', 'session_type_id', 'isWinner',
       'member_id'],
      dtype='object')

In [37]:
role = pd.read_sql_table("Role",engine)
role_look_up = role.loc[:,["role_id","role_desc"]].set_index("role_desc")
#print(role_look_up)
sessions_result = sessions_result.merge(role_look_up, how="left", on="role_desc")

In [38]:
print(sessions_result.columns)
sessions_result = sessions_result.loc[:,["session_dt","member_id","role_id","session_type_id","isWinner"]]
#print(sessions_result)
sessions_result.dropna(inplace=True)

Index(['member_desc', 'session_dt', 'role_desc', 'session_type_id', 'isWinner',
       'member_id', 'role_id'],
      dtype='object')

In [39]:
print(f'session records: {len(pd.read_sql_table("Session",engine))}')
session_data = len(pd.read_sql_table("Session",engine))
if(session_data == 0):
    sessions_result.to_sql('Session',con=engine,index=False,if_exists='append',chunksize=len(sessions_result))
    print('Data inserted successfully!')
else:
    print(sessions_result.head())
    sessions_result.to_sql('Session',con=engine,index=False,if_exists='append',chunksize=len(sessions_result))
    print('New records added this month')

session records: 197
  session_dt  member_id  role_id  session_type_id  isWinner
0 2020-07-07        351       23                1     False
1 2020-07-07        352       25                1     False
2 2020-07-07        297       26                1     False
3 2020-07-07        299       25                1     False
4 2020-07-07        300       25                1     False
New records added this month